<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
  {{ partial "head.html" . }}
</head>
  <body id="page-top" class="index">
    {{ partial "nav.html" . }}
    {{ partial "hero.html" . }}

    {{ if .Site.Params.summary.enable }}
      {{ partial "summary.html" . }}
    {{ end }}

    {{ if .Site.Params.portfolio.enable }}
      {{ partial "portfolio.html" . }}
    {{ end }}

    {{ if .Site.Params.about.enable }}
      {{ partial "about.html" . }}
    {{ end }}

    {{ if .Site.Params.weekly_reports.enable }}
      {{ partial "weekly_reports.html" . }}
    {{ end }}

    {{ if .Site.Params.presentations.enable }}
      {{ partial "presentations.html" . }}
    {{ end }}

    {{ if .Site.Params.clients_list.enable }}
      {{ partial "clients.html" . }}
    {{ end }}

    {{ if .Site.Params.team.enable }}
      {{ partial "team.html" . }}
    {{ end }}


    {{ if .Site.Params.contact.enable }}
      {{ partial "contact.html" . }}
    {{ end }}

    {{ if .Site.Params.footer.enable }}
      {{ partial "footer.html" . }}
    {{ end }}

    {{ if .Site.Params.portfolio.enable }}
      {{ partial "modals.html" . }}
    {{ end }}


    {{ partial "js.html" . }}
  </body>
</html>
